.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Main{
  Margin: 0rem;
  Padding: 0rem;
  background-color: #ffffff;
  Width: 100vw;
  Height: 70vh;
}

.full-width{
  Width: 100vw;
}

#compound-calc{
  background-color: red;
  Width: 100vw;
}

#Compound-Calc-Container{
  padding: 3rem;
  background-color:#212529;
  min-width: 100vw;
  min-height: 30vh;
}

h3{
  color:white;
}